<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://calidadpioneer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>calidadpioneer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CalidadPioneer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CalidadPioneer</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureStorageAccount" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=calidadpioneer;AccountKey=du7bmEVQIdGXDqY1sA6yFwWchz5pC0RMKUE17tx75Ssu5WftWiBdRN0OLS+0QAD/86DJngyHSaSix9DgFNKaPA==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureStorageAccount_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=calidadpioneer;AccountKey=du7bmEVQIdGXDqY1sA6yFwWchz5pC0RMKUE17tx75Ssu5WftWiBdRN0OLS+0QAD/86DJngyHSaSix9DgFNKaPA==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="pioneerEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:h0ehawyllb.database.windows.net,1433;Initial Catalog=CalidadPioneer_db;User ID=usutest@h0ehawyllb;Password=Dialectoplasma4.;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\pioneerEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/PioneerModel.csdl|res://*/PioneerModel.ssdl|res://*/PioneerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:h0ehawyllb.database.windows.net,1433;initial catalog=CalidadPioneer_db;user id=usutest@h0ehawyllb;password=Dialectoplasma4.;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureStorageAccount-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)pioneerEntities-Web.config Connection String" />
  </ItemGroup>
</Project>