<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://calidadpioneer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>calidadpioneer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CalidadPioneer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CalidadPioneer</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:h0ehawyllb.database.windows.net,1433;Initial Catalog=CalidadPioneer_db;User ID=usutest@h0ehawyllb;Password=Dialectoplasma4." Name="Data Source=tcp:h0ehawyllb.database.windows.net,1433;Initial Catalog=CalidadPioneer_db;User Id=usutest@h0ehawyllb;Password=Dialectoplasma4." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Orkidea.Pioneer.Webfront.Models.ApplicationDbContext, Orkidea.Pioneer.Webfront" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureStorageAccount" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=calidadpioneer;AccountKey=du7bmEVQIdGXDqY1sA6yFwWchz5pC0RMKUE17tx75Ssu5WftWiBdRN0OLS+0QAD/86DJngyHSaSix9DgFNKaPA==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureStorageAccount_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=calidadpioneer;AccountKey=du7bmEVQIdGXDqY1sA6yFwWchz5pC0RMKUE17tx75Ssu5WftWiBdRN0OLS+0QAD/86DJngyHSaSix9DgFNKaPA==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="pioneerEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:h0ehawyllb.database.windows.net,1433;Initial Catalog=CalidadPioneer_db;User ID=usutest@h0ehawyllb;Password=Dialectoplasma4." Name="Data Source=tcp:h0ehawyllb.database.windows.net,1433;Initial Catalog=CalidadPioneer_db;User Id=usutest@h0ehawyllb;Password=Dialectoplasma4." />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=pioneer;User ID=sa;Password=Tecnologia.4;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\pioneerEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/PioneerModel.csdl|res://*/PioneerModel.ssdl|res://*/PioneerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=pioneer;user id=sa;password=Tecnologia.4;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:h0ehawyllb.database.windows.net,1433;Initial Catalog=CalidadPioneer_db;User Id=usutest@h0ehawyllb;Password=Dialectoplasma4.</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)pioneerEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/PioneerModel.csdl|res://*/PioneerModel.ssdl|res://*/PioneerModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:h0ehawyllb.database.windows.net,1433;initial catalog=CalidadPioneer_db;user id=usutest@h0ehawyllb;password=Dialectoplasma4.;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>