@{
    ViewBag.Title = "Details";
}

<h2>Sistema de gestión - Creación de Near Miss</h2>

<div class="container">

    @if (ViewBag.id > 0)
    {
        <div class="alert alert-success" role="alert">
            <span>Se creó la Near Miss No. <strong>@ViewBag.id</strong> con éxito</span>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <span>No se pudo guardar la informacion de Near Miss</span>
        </div>
    }
    <br />
    <a href="@Url.Action("Index", "Home")", class="btn btn-info">ir al Inicio</a>    
</div>